
.shinyapp {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  border: none;
}

.footnote {
	bottom: 0;
	opacity: 0.75;
	font-size:  0.7em;
}

.footnote p {
  margin-bottom: 12px;
}
